@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header{
    color: #000000;
    max-height: 200px;
    text-align: center;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    font-style: italic;
    background-color: #ffff;
    /*font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Nunito", sans-serif;*/
}
h1{
    margin: 0;
    margin-top: 20px;
}
h2{
    font-size: 18px;
    color: #ffffff;
    font-family: "Montserrat", serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    background-color: #1e1e1e;
}
.historia{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 1050px;
    margin-top: 0;
    margin-bottom: 15px;
}
body{
    background-color: #000000;
}
img{
    margin-bottom: -200px;
    width: 660px;
    margin-left: 150px;
    margin-top: -130px;
    position: relative;
    display: block;
    
}
.NikeShoxTL{
    max-width: 830px;
    text-align: center;
    margin-left: 48px;
    margin-top: -66px;
    background: rgba(34, 34, 34, 0);
    padding: 3px;
    font-size: 14px;
    color: #fff;
}
.Origem,.Evolucao,.Cultural,.Moda{
    color: #ffff;
    max-width: 560px;
    text-align: center;
    margin-left: 900px;
    margin-bottom: 30px;
    background: rgba(34, 34, 34, 0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 7px #ff2929;
    font-size: 17px;
}
.Origem{
    margin-top: -970px;
}
.top{
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 30px;
}
.top10{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', serif;
    color: #ffffff;
    text-align: left;
    max-width: 1000px;
    margin-left: 260px;
    margin-top: 15px;
    margin-bottom: 30px;
    background: rgb(24, 24, 24);
    padding: 10px;
    border-radius: 10px;
    line-height: 30px;
}
footer{
    background-color:#181818; 
    color:#fff; 
    text-align:center;
    padding: 10px;
}